* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   

    background: radial-gradient(circle, rgba(174,174,238,0.2) 0%, rgba(148,187,233,0.2) 100%);
    
}

.header {
    font-size: 3.5vw;
    display: flex;
    justify-items: end;
    padding: 15px;
    background-color: rgb(116, 113, 207);
    background: linear-gradient(45deg, rgba(78, 73, 177,1) 0%, rgba(76, 76, 114, 1) 0%, rgba(74, 138, 151,1) 100%);
}

.head_image {
    width: auto;
    height: 170px;
    margin-right: 15px;
    opacity: 1;
    
}

.main {
    padding: 15px;
    font-size: 20px;
    background-color: rgb(223, 251, 251);
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
    }





/* #img {
    
    background-image: url("./media/bg_formulas.jpg");
    background-size: 2000px;
    position: absolute;
    top: 200px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;

} */

.description {
    padding: 1%;
    
}

.flex-cont  {
    display: flex; 
    flex-flow: row;
    font-size: 15px;
    justify-content: space-evenly;
    
}


.compress {
    border: 1px rgb(29, 29, 41) solid;
    width: 49%;
    flex-flow: wrap;
    padding: 1%;
}

.comp-description, .decomp-description  {
    
    font-size: 15px;
    height: 120px;

}

.decompress {
    border: 1px rgb(29, 29, 41) solid;
    width: 49%;
    flex-flow: wrap;
    padding: 1%;
   
}

input, button {
    width: 98%;
    padding: 10px;
}



@media (min-width: 700px) {
    .h1 {
      font-size: 49px;
    }
  }

.output {
    border: 1px solid black;
}

.disable {        
        background-color: rgb(237, 242, 242) !important;
        color:rgba(128, 129, 133, 0.573);
        border: 1px grey solid ;
    }

.disable > * {
        pointer-events:none;
    }