* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    background: radial-gradient(circle, rgba(174,174,238,0.2) 0%, rgba(148,187,233,0.2) 100%); 
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


}


/*******************/
/* headers         */
/*******************/


.header {
    font-size: 3vw;
    display: flex;
    justify-items: end;
    padding: 15px;
    background-color: rgb(116, 113, 207);
    background: linear-gradient(45deg, rgba(78, 73, 177,1) 0%, rgba(76, 76, 114, 1) 0%, rgba(74, 138, 151,1) 100%);
}

.head_image {
    width: auto;
    height: 170px;
    margin-right: 15px;
    opacity: 1;
}

/*******************/
/* navigation menu */
/*******************/

.navi-drop-down {
    display: flex;
}
a {
    text-decoration: none;
  }
  

  
  ul {
    display: flex;
    height: 40px;
    background-color: rgb(116, 113, 207);
    background: linear-gradient(-45deg, rgba(78, 73, 177,1) 0%, rgba(76, 76, 114, 1) 0%, rgba(74, 138, 151,1) 100%);

    list-style: none;
   
    padding-left: ;
  }
  
  li {
    height: 40px;
    width: 100%;
    background-color: rgb(116, 113, 207);
    background: linear-gradient(-45deg, rgba(78, 73, 177,1) 0%, rgba(76, 76, 114, 1) 0%, rgba(74, 138, 151,1) 100%);

    display: block;
    float: left;
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    transition-duration: 3.5s;
    
  }
    
  li a {
    color: #121018;
    font-size: 1em;
    font-weight: 900;
  }
  
  li:hover {
    background-color: rgb(116, 113, 207);
    background: linear-gradient(45deg, rgba(78, 73, 177,1) 0%, rgba(76, 76, 114, 1) 0%, rgba(74, 138, 151,1) 100%);

    cursor: pointer;
  }
  
  ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    width: 300px;
    position: absolute;
    transition: all 10s ease;
    margin-top: 0.5rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    width: 300px;
    z-index: 1;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;

  }




/*********************************/
/* main section and text         */
/*********************************/


.main {
    padding: 15px;
    font-size: 20px;
    /* background-color: rgb(223, 251, 251); */
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}


.bio-main {
    padding: 15px;
    font-size: 20px;
    /* background-color: rgb(223, 251, 251); */
    font-size: 25px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 15px;
}



.bio-para, .main-para, .biblo-para{
    padding: 1%;
    text-align: justify;
    font-size: 20px;
}

.copyright{
    font-size: 12px;
}


.lib-img {
    width: 30vh;
}

.description {
    padding: 1%;  
}


/***********************************/
/* interactive page,  tables etc   */
/***********************************/


.flex-cont  {
    display: flex; 
    flex-flow: row wrap;
    font-size: 14px;
    justify-content: space-evenly;  
}

.compress {
    border: 1px rgb(29, 29, 41) solid;
    width: 49%;
    flex-flow: wrap;
    padding: 1%;
    margin-bottom: 10px;
    padding-right: 0px;
    height:auton;
}



.decompress {
    border: 1px rgb(29, 29, 41) solid;
    width: 49%;
    flex-flow: wrap;
    padding: 1%; 
    padding-right: 0px;
    height: auto;
    margin-bottom: 10px;
}

.comp-description, .decomp-description  {  
    font-size: 14px;
    height: fit-content;
}

.textbox, .button {
    width: 98%;
    padding: 5px;
    margin-bottom: 10px;
}

.disable {        
        pointer-events:none;
        color:rgba(34, 34, 34, 0.573);
        border: 1px grey solid;
    }

.textbox {     
        color:black;    
    }

.table {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.table-cell-header {
    border: 1px black solid;
    padding: 2px;
    font-size: 0.8em;
    width: calc(98%/5);
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-flow:  wrap;
    background: rgb(164,204,204);
    background: linear-gradient(209deg, rgba(164,204,204,1) 0%, rgba(150,170,213,1) 100%); font-weight: 600;
}


.table-cell {
    border: 1px black solid;
    padding: 1px;
    font-size: 0.9em;
    width: calc(98%/5);
    align-content: center;
    justify-content: center;
    display: flex;
    flex-flow:  wrap;
    
}

.table-cell-last {
    border: 1px black solid;
    padding: 1px;
    font-size:1.2em;
    width: 98%;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-flow:  wrap;
    background: rgb(162,204,204);
    background: radial-gradient(circle, rgba(162,204,204,1) 0%, rgba(32,140,191,1) 100%);
    
}


/*********************************/
/* media querys                   */
/*********************************/



@media (min-width: 700px) {
    h1 {
      font-size: 42px;
    }



  }

  @media (max-width: 720px) {
  .compress, .decompress {
    width: 360px;
  }
  .flex-cont{
    justify-content: center;
  }

    
  }

  @media (max-width: 360px) {
    body {
        width: 360px;
    }
    h1 {
        font-size: 25px;
    }
